head
  title Movie Review APPS
  // Import Bootstrap
  link(
    rel="stylesheet"
    href="/css/bootstrap.css"
    type="text/css"
  )
  // Import Google Font
  link(
    href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
    rel="stylesheet"
  )
  // Import Custom Css
  link(
    rel="stylesheet"
    href="/css/carousel.css"
    type="text/css"
  )