html
  include ./partials/home.pug
  body
  p.float-right
    a.btn.btn-success.my-4.mx-4(href="/logout") Logout
    main(role="main")
      section.jumbotron.text-center
        .container
          h1 Movie Review APPS
          p.lead.text-muted Millions of movies, TV shows and people to discover. Explore now.
          p
            a.btn.btn-primary.my-2(href="/admin/movie/new") Add Movie
      .album.py-5.bg-light
        .container
          .row
            each movie in movies
              .col-md-3.d-lg-inline-block.visible-lg-inline-block
                .card.mb-4.shadow-sm
                  img.bd-placeholder-img(src=movie.image_url alt='' width="100%" height="100%")
                  .card-body
                    h4.card-title.font-weight-bolder= movie.title
                    p.card-text= movie.synopsis.split('').splice(0, 256).join('')
                    if movie.synopsis.length > 256
                      a.text-decoration-none.post-body(href=`/admin/movie/${movie.id}`) Read more
                    .d-flex.justify-content-between.align-items-center.my-2
                      .btn-group
                        a.btn.btn-sm.btn-outline-secondary(href=`/admin/movie/${movie.id}` type="button") View
                        a.btn.btn-sm.btn-outline-secondary(href=`/admin/movie/edit/${movie.id}` type="button") Edit
                      small.text-muted= movie.movieDuration
    footer.my-5.pt-5.text-muted.text-small
      p.text-center.mb-1 &copy; 2020 Team G Backend Developer
      ul.list-inline.text-center
        li.list-inline-item
          a(href='https://www.facebook.com/imam.taufiq3') Imam Taufiq Hermawan
        li.list-inline-item
          a(href='https://www.facebook.com/fadli.asyhari') Fadli Asyhari
        .container
          p.float-right.mb
            a(href="#") Back to top
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script.
      window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\\/script>')
    script(src="..public/js/bootstrap.bundle.js")