html
  include ./partials/retrieve.pug
  body
    main(role='main')
      .container.marketing
        .row.featurette
            .col-md-7.order-md-2
                h2.font-weight-bold= post.title
                p= post.synopsis
                    dt Genre :
                    dd= post.genre
                    dt Length :
                    dd= post.movieDuration
                    dt Status :
                    dd= post.status
                    dt Premiere :
                    dd= post.releaseDate
                    dt Original Languange :
                    dd= post.originalLanguage
                    dt Budget :
                    dd= post.budget
                    dt Revenue :
                    dd= post.revenue
                    dt Average Rating :
                    dd= post.averageRating
            .col-md-5.order-md-1
                img.img-thumbnail(src=post.image_url alt='' width="100%" height="80%")
        hr.featurette-divider
        footer.container
        .container
          p.float-left
            a.btn.btn-dark(href="/admin/home") home
          p.float-right
            a(href='#') Back to top
          p.text-center  © 2020 Team G 
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\\/script>')
    script(src='../assets/dist/js/bootstrap.bundle.js')