html
  include ../partials/form.pug
  body
  .container
    p.float-right
      a.btn.btn-dark.my-3(href="/admin/home") home
.container
  .py-5.text-center
    img.d-block.mx-auto.mb-4(src='https://ik.imagekit.io/imamth/logo_97WepyNnl.png' alt='' width='220' height='220')
    h2 Movie Review APPS Form
  .row
    .col
      form(action="/admin/movie/new" method="post")
        h4.mb-3 About Movie
        .mb-3
          label(for='title') Title
          input#movieTitle.form-control(name='title' type='text' placeholder='' value='' required='')
        .mb-3
          label(for='tmdb_id') tmdb_id
          input#movieTitle.form-control(name='tmdb_id' type='text' placeholder='' value='' required='')
        .mb-3
          label(for='synopsis') Synopsis
          textarea#synopsis.form-control(name='synopsis' type='text' rows='7' placeholder='' required='')
        .mb-3
          label(for='genre') Genre
          input#Genre.form-control(name='genre' type='text' placeholder='' required='')
        .mb-3
          label(for='movieDuration') Movie Duration
          input#director.form-control(name='movieDuration' type='integer' placeholder='' required='')
        .mb-3
          label(for='releaseDate') Release Date
          input#director.form-control(name='releaseDate' type='text' placeholder='' required='')
        .mb-3
          label(for='status') Status
          input#director.form-control(name='status' type='text' placeholder='' required='')
        .mb-3
          label(for='originalLanguage') Original Language
          input#director.form-control(name='originalLanguage' type='text' placeholder='' required='')
        .mb-3
          label(for='budget') Budget
          input#trailer.form-control(name='budget' type='text' placeholder='' required='')
        .mb-3
          label(for='revenue') Revenue
          input#trailer.form-control(name='revenue' type='text' placeholder='' required='')
        .mb-3
          label(for='averageRating') Average Rating
          input#trailer.form-control(name='averageRating' type='integer' placeholder='' required='')
        .mb-3
          label(for='image_url') Poster
          input#poster.form-control(name='image_url' type='text' placeholder='https://image.tmdb.org/t/p/original/DaNRMZskVejsye2msqqwDuyOjk.jpg' required='')
        .mb-3
          label(for='backdrop_url') Backdrop
          input#poster.form-control(name='backdrop_url' type='text' placeholder='https://image.tmdb.org/t/p/w600_and_h900_bestv2/9gk7adHYeDvHkCSEqAvQNLV5Uge.jpg' required='')
        hr.mb-3
        button.btn.btn-primary.btn-lg.btn-block(type='submit') Submit
  footer.my-5.pt-5.text-muted.text-center.text-small
    p.mb-1 &copy; 2020 Team G Backend Developer
    ul.list-inline
      li.list-inline-item
        a(href='https://www.facebook.com/imam.taufiq3') Imam Taufiq Hermawan 
      li.list-inline-item
        a(href='https://www.facebook.com/fadli.asyhari') Fadli Asyhari