html
  include ../partials/loginForm.pug
  body.text-center.bg-light
    img.mb-4.my-5(src="https://ik.imagekit.io/imamth/logo_97WepyNnl.png" alt="" width="200" height="200")
    h1.h3.mb-3.font-weight-normal Movie Review APPS
    h2.h5.mb-3.font-weight-normal Please sign in
      .main.container
        form(action='/admin/login' method='POST')
          div.form-group
            label(for='email')
            input#email.form-control(type='email' placeholder='Email Address' name='email' required='')
          div.form-group
            label(for='password') 
            input#passsword.form-control(type='password' placeholder='Password' name='password' required='')
          button.btn.btn-primary(type='submit') Login
          p.mt-4.mb-3.text-muted &copy; Team G 2020